<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
        } %}
    {% endblock %}

    {% block style %}
    {% endblock %}


    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        {# CDN font awesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">    
    {% endblock %}
</head>
<body>
    {% include 'header.html.twig' %}

    <form action="{{ path('sulu_search.website_search') }}" method="GET">
        <input name="q" type="text" placeholder="Search"/>
        <input type="submit" value="Go"/>
    </form>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'footer.html.twig' %}

    {% block javascripts %}{% endblock %}
            {{ importmap() }}
</body>
</html>
